.detailSection {
  margin: 0 2em;
}

.contentText {
  text-align: start;
  margin-bottom: 2em;
}

.title {
  color: #010a05;
  font-size: 3em;
  margin: 1px 0;
  font-weight: 500;
}

.subtitle {
  color: #056133;
  font-size: 1.2em;
  margin-top: 1px;
}

.contentDetail {
  display: flex;
}

.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.contentArrow {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #010a05;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  color: #adfbd4;
  font-size: 1.5em;
}

.contentImg {
  width: 25em;
}
.imgCarrousel {
  width: 100%;
}

.contentInfo {
  display: flex;
}

.contentDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.contentTitle {
  display: flex;
  justify-content: space-between;
}

.titleDetail {
  font-size: 2.5em;
  width: 30%;
  font-weight: 500;
}

.favorite {
  margin-top: 2em;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #0c121e;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconHeart {
  color: #ff8000;
  font-size: 1.4em;
}

.line {
  width: 100%;
}

.contentData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: self-start;
  column-gap: 4em;
}

.spanData {
  color: #056133;
  font-weight: 600;
}

.titleDescription {
  color: #03351c;
  text-align: start;
}
.textDescription {
  text-align: start;
}

.formTitle {
  color: #03351c;
  text-align: start;
}

.form {
  display: flex;
  column-gap: 4em;
}

.input {
  color: #0c121e;
}

.label {
  color: #0c121e;
}

.btn {
  margin-top: 2em;
  background-color: #ff8000;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 100%;
  height: 3em;
  color: #0c121e;
  font-weight: 600;
}
