.contentIntro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentText {
  text-align: start;
}

.title {
  color: #010a05;
  font-size: 3em;
  margin-bottom: 1px;
  font-weight: 500;
}

.subtitle {
  color: #056133;
  font-size: 1.2em;
  margin-top: 1px;
}

.form {
  width: 20em;
  height: 2.3em;
  background-color: #f3f3f3;
  color: #010a05;
  border: 3px solid #010a05;
  box-shadow: 0px 1.2px 4px 0px #010a0526;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.iconSearch {
  width: 24px;
  height: 24px;
  color: #056133;
}

.inputSearch {
  border: none;
  background-color: #f3f3f3;
  width: 20em;
  height: 2.3em;
}

.inputSearch:focus {
  outline: none;
}

.main {
  display: flex;
  justify-content: space-between;
}

.contentFilters {
  width: 294px;
  height: 580px;
  background-color: #adfbd4;
  display: flex;
  flex-direction: column;
}

.contentCatalog {
  width: 850px;
  height: 870px;
  background-color: #adfbd4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  justify-items: center;
  align-items: center;
  padding: 1em;
}

.card {
  background-color: #e2fdf0;
  width: 200px;
  height: 300px;
  position: relative;
}

.favorite {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #0c121e;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconHeart {
  color: #ff8000;
  font-size: 1.4em;
}

.imgCard {
  width: 100%;
}

.contentTextCard {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #03351c;
  width: 100%;
  height: 70px;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.textCard {
  color: #adfbd4;
}

.pagination {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

.contentArrow {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #010a05;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  color: #adfbd4;
  font-size: 1.5em;
}

.contentNumbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.selected {
  color: #010a05;
}

.others {
  color: #2af48f;
}

.contentTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  height: 3em;
}

.titleFilter {
  font-size: 1.2em;
  font-weight: 600;
}

.arrow {
  font-size: 1.5em;
}

.list {
  list-style: none;
}
